.App {
    text-align: center;
}

.testimonio {
    box-shadow: 1px 1px 10px black;
    display: flex;
    width: 50%;
    height: 200px;
    padding: 20px;
    margin: 20px;

}

.testimonioA {
    flex: 1;
}

.testimonioB {
    flex: 3;
}

.Testimonio-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}